__pycache__/
*.py[cod]
.DS_Store
.venv/
env/
venv/
.ipynb_checkpoints/
.eggs/
*.egg-info/
*.egg
*.cache/

data/raw/
data/curated/
marts/
*.parquet
*.csv
*.xlsx
*.zip

.streamlit/
secrets.toml

*.duckdb
*.wal

.vscode/
.idea/
Thumbs.db
*.swp
